
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width" />
    <title>UserRole</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

</head>
<body>
     <div class="container">
        <fieldset>
            <legend>Add User to Admin</legend>
            <form asp-action="UserRole" method="post">
                @if(ViewData["roleUserCreate"] as string != null)
                {
                <div class="text-success">@ViewData["roleUserCreate"]</div>
                    
                }
                 @if(ViewData["notExist"] as string != null)
                {
                <div class="text-danger">@ViewData["notExist"]</div>
                    
                }
                   @if(ViewData["UserExist"] as string != null)
                {
                <div class="text-danger">@ViewData["UserExist"]</div>
                    
                }
                <div class="form-group">
                    <div>
                        <label>Username:</label>
                    </div>
                    <div>
                        <input name="user" class="form-control w-50" required/>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Create" class="p-2 btn btn-primary" />
                </div>

            </form>
        </fieldset>
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>
