@using Blog.Models;
@model List<BlogData>

<ul class="list-sidebar">
    @foreach (var item in Model)
    {
        <li>

            <a asp-area="" asp-controller="BlogContent" asp-action="data"
           asp-route-Id="@item.BlogId">@item.Title</a>
        </li>
    }

</ul>