@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Microsoft.AspNetCore.Authentication
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>VaseBlog</title>
  <meta content="Tech blog for software developers, software engineers, etc." name="description">
  <meta content="Html, Css, Javascript, C#, PostgresSql, Asp.Net core, Asp.net Identity" name="keywords">
  <meta name="author" content="PhilsKay" />

  <!-- Favicons -->
  <link href="~/assets/img/icons8-v-67.png" rel="icon">
    <link href="~/assets/img/icons8-v-67.png" rel="icons8-v-67">

  <!-- Vendor CSS Files -->
  <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true">
  <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" asp-append-version="true">
  <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" asp-append-version="true">
  <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" asp-append-version="true">

  <!-- Main CSS File -->
  <link href="~/assets/css/style.css" rel="stylesheet" asp-append-version="true">

    <!--Alertify-->
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />

  <!-- =======================================================
  * Author: PhilsKay
  ======================================================== -->
</head>

<body>
    <!--facebook Share-->
    <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v14.0&appId=575826043820954&autoLogAppEvents=1" nonce="iCyV6zg4"></script>


  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo fw-bold"><a asp-action="Index" asp-controller="Home">VaseBlog</a></h1>

      <nav id="navbar" class="navbar">
          @if(SignInManager.IsSignedIn(User)){
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button id="logout" type="submit" class="nav-link btn btn-warning btn-sm mx-2 p-1">Logout</button>
                    </form>
          }

        <ul>
            @if(User.Identity.IsAuthenticated && User.IsInRole("Admin")){
                 <li><a class="nav-link scrollto " asp-area="Admin" asp-controller="Home" asp-action="Index">Dashboard</a></li>
            }
         
          <li><a class="nav-link scrollto" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
          <partial name="_LoginPartial" />  
        </ul>

        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

    <div>
            @RenderBody()
    </div>

  
  <!-- ======= Footer ======= -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="copyright-box">
            <p class="copyright">&copy; 2022 <strong>VaseBlog</strong>. All Rights Reserved</p>
            <div class="credits">
              Designed by PhilsKay & Powered by .Net 
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="~/assets/vendor/purecounter/purecounter.js"></script>
  <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="~/assets/vendor/typed.js/typed.min.js"></script>
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/jquery/dist/jquery.js"></script>

    <!-- Alertify JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

  <!--  Main JS File -->
  <script src="~/assets/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>
