@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authentication
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Philskay Blog</title>
  <meta content="Tech blog for software developers, software engineers, etc." name="description">
  <meta content="Html, Css, Javascript, C#, PostgresSql, Asp.Net core, Asp.net Identity" name="keywords">
  <meta name="author" content="PhilsKay" />

  <!-- Favicons -->
  <link href="~/assets/img/favicon.png" rel="icon">
  <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Vendor CSS Files -->
  <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true">
  <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" asp-append-version="true">
  

  <!-- Main CSS File -->
  <link href="~/assets/css/style.css" rel="stylesheet" asp-append-version="true">

  <!-- =======================================================
  * Author: PhilsKay
  ======================================================== -->
  <style>
      body::before{
          display: block;
          content: "";
          height: 60px;
        }
  </style>
</head>

<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg bg-dark py-3 navbar-dark fixed-top">
        <div class="container">
            <h1 class="logo fw-bold"><a asp-action="Index" asp-controller="Home" asp-area="">VaseBlog</a></h1>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-menu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="nav-menu">
                <ul class="navbar-nav ms-auto">
                    <li class="mx-2">
                        <a class="nav-link scrollto btn btn-primary p-1" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
                    </li>
                    <li class="mx-2">
                        <a class="nav-link scrollto btn btn-success p-1" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="p-5">
            @RenderBody()

        </div>
    </div>

  <!-- Vendor JS Files -->
  <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="~/assets/vendor/typed.js/typed.min.js"></script>
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/jquery/dist/jquery.js"></script>


  <!--  Main JS File -->
  <script src="~/assets/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>
