@using Blog.Models
@model Category

@{
    ViewData["Title"] = "Add Category";
}

<h1 class="mt-4">>Add Category</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Add Category</li>
</ol>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Category
    </div>
    <div class="card-body">
       <form asp-action="Add" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <div>
                    <label asp-for="CategoryName">
                    </label>
                </div>
                <div>
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div>
                <input type="submit" class="btn btn-primary" value="Save" />
                <input type="submit" class="btn btn-secondary" value="View Details" asp-action="CategoryList" />
            </div>
       </form>
    </div>
</div>
<script type="text/javascript">

    if (@TempData["AddCategory"] != undefined) {
        alertify.success('added successfully');
    }
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
