@using Blog.Models
@model Category

@{
    ViewData["Title"] = "Edit Category";
}

<h1 class="mt-4">>Add Category</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Category List</li>
</ol>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Categories
    </div>
    <div class="card-body">
       <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="CategoryId" type="hidden"/>
            <div class="form-group row">
                <div>
                    <label asp-for="CategoryName">
                    </label>
                </div>
                <div>
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div>
                <input type="submit" class="btn btn-info" value="Edit" />
                <input type="submit" class="btn btn-secondary" value="View Details" asp-action="CategoryList" />
            </div>
           
            
       </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


