@using Blog.Models
@model BlogData

@{
    ViewData["Title"] = "Edit Blog";
}
<link href="~/frolacss/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="~/js/froala_editor.pkgd.min.js"></script>
<script type="text/javascript" src="~/js/plugins/code_beautifier.min.js"></script>


<h1 class="mt-4">Edit Blog</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Edit Blog</li>
</ol>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Blog
    </div>
    <div class="card-body">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="BlogId" />
            <input type="hidden" asp-for="ImageUrl" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <div>
                    <label asp-for="Title" class="control-label">
                    </label>
                </div>
                <div>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>
            <br />
            <!--==========Get the data from Tags list in thr database
                ================================================
            -->
             <div class="form-group row">
                <div class="col-4">
                 <button onclick="addTags()" type="button">Add Tags</button>
                 <br />
                    <table id="AddTagsTable">
                        <tr>
                            <th>@Html.DisplayNameFor(model=>model.Tags)</th>
                        </tr>
                        <br />
                        @foreach (var tgs in Model.Tags)
                        {
                            <input type="text" asp-for="@tgs" class="form-control"  name="existingTags" />
                        }
                    </table>
                </div>
            </div>
            

            <br />
            <div class="form-group row">
                <div>
                    <label asp-for="CategoryId" class="control-label">
                    </label>
                </div>
                <div>
                    <select asp-for="CategoryId" asp-items="@ViewBag.Category">
                        </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div>
                    <label class="control-label">
                        Image
                        <br />
                        <p class="text-danger">Note: Change image if your require.</p>
                    </label>
                </div>
                <input type="file" name="image" class="form-control" accept=".jpg, .png, .jpeg" />

            </div>

            <div class="form-group">
                <label>Date Created</label>
                <input readonly asp-for="DateCreated" />

            </div>

            <div class="form-group">
                <div>
                    <label asp-for="Content" class="control-label">
                    </label>
                </div>
                <div>
                    <textarea asp-for="Content" class="form-control" id="contentEditor">
                    </textarea>
                    <script>
                        var editor = new FroalaEditor('#contentEditor');
                    </script>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
            </div>
             <div class="form-group row">
                <div>
                    <label asp-for="Summary" class="control-label">
                    </label>
                </div>
                <div>
                    <textarea asp-for="Summary" class="form-control" cols="200" rows="5">
                    </textarea>
                    <span asp-validation-for="Summary" class="text-danger"></span>
                </div>
            </div>

            <br />
            <div>
                <input type="submit" class="btn btn-primary" value="Edit" />
                <input type="submit" class="btn btn-secondary" value="View Details" asp-action="BlogList" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
   <!--Script responsible for adding the tags-->
    <script>
       
        var counter = 0;
        function addTags() {
            var table = document.getElementById("AddTagsTable");
            var row = table.insertRow(-1);
            var cell1 = row.insertCell(0);
            cell1.innerHTML = '<input type="text" name="Tags[' + counter +']"/>';
            counter++;
        }
    </script>
}
