@using Blog.Models;
@model List<Category>
<div class="blog-filter">
    <span class="filter-item active-filter" data-filter='all'>All</span>
    @foreach(var item in Model)
    {
    <span class="filter-item" data-filter='@item.CategoryName'>@item.CategoryName</span>
    }
</div>