<div class="blog-filter">
    <span class="filter-item active-filter" data-filter='all'>All</span>
    <span class="filter-item" data-filter='tech'>Tech</span>
    <span class="filter-item" data-filter='productivity'>Productivity</span>
</div>