@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li>
        <a id="manage" class="nav-link scrollto" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li>
}
else
{
    <li>
        <a class="nav-link scrollto btn btn-primary p-md-1 btn-light" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li>
        <a class="nav-link scrollto btn btn-success p-md-1" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
