@using Blog.ViewModels;
@model CommentViewModel
<form method="post" asp-action="AddComment">
    <input asp-for="BlogId" readonly hidden>
    <input asp-for="MainCommentId" readonly hidden>
    <div class="form-group">
        <label for="sub-comment">Write a reply</label>
        <textarea asp-for="Body" class="form-control" rows="3"></textarea>
        <button type="submit" class="btn btn-outline-primary post-btn">Post</button>
    </div>
</form>
